*{
    margin: 0%;
    box-sizing: border-box;
}
.container{
    /* border: 2px solid red; */
    padding: 2px;
    /* width: 100vw; */
}
.first{
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.wobb{
    margin: 0 1em ;
}
.wobbutton{
    margin: 0 2em ;
    font-size: 1.5em;
    border: none;
    background-color: white;
}
.attach{
    position:sticky;
    top: 0;
    background-color: white;
}
.catogories{
    display: flex;
    flex-direction: column;
}
.row{
    height: 80vh;
    /* border: 5px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boxes{
    height:90%;
    width: 30%;
    border: 2px solid rgba(121, 118, 119, 0.514);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2), 0px 8px 16px rgba(0, 0, 0, .1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
    
    
}
.box1{
    margin-top: 3rem;
    height: 65%;
    width: 100%;
}
.parent_logo{
    height: 20%;
    width: 20%;
    /* border: 2px solid red; */
    
}
.logo{
    height: 80%;
    width: 70%;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-left: 0.75rem;
    border: 1px solid rgba(95, 95, 95, 0.296);


}
.boxtext{
    border: 2px solid rgba(95, 95, 95, 0.296);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}
.images{
    height:100%;
    width: 100%;
    /* border-radius: 1rem; */
}
.symbols{
    /* border: 2px solid rgb(211, 57, 180); */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 2px solid green; */
    width: 100%;

    
}
.part1{
    margin: 0 3rem;
    width:  40%;
    /* border: 1px solid red; */
    
    
    /* border: 2px solid red; */
}
.part2{
    
    border: 2px solid rgb(2, 72, 42);
    border-radius: 1rem;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    margin-right: 2rem;
    width: 50%;
    align-items: center;
    /* width: 100 */
    padding: 0%;
    

}
.list{
    border-right:2px solid black;
    height: 100%;
    width: 33%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center ;
    /* border-radius: 1rem; */
    /* margin-top: 1rem; */
    margin: 0%;
    font-size: larger;
}
.last{
    padding: 4px;
    border: 2px solid rgba(203, 202, 208, 0.581);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}
.foot{
    width: 100%;

}
.footpart{
    margin: 0 1rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 0 1.5rem;
    
}
@media (max-width:520px){
    .row{
        flex-direction: column;
        height: 240vh;
        justify-content: space-around;
        align-items: center;
    }
    .container{
        flex-direction: column;
    }
    .boxes{
        width: 98%;
        /* margin-left: 0.7rem; */
        margin-bottom: 1em;
        padding: 1rem;
    }
    .container{
        width: 100%;
    }
    .last{
        width: 100%;
    }
    .part2{
        width: 85%;
        font-size: 1rem;
    }

    .part1{
        width: 15%;
    }
}